@{
    ViewData["Title"] = "Home Page";
    var images = ViewBag.Images as List<string>;
}

<div class="text-center">
    <h2>Bem Vindo a Loja TheCar</h2>
    <p>
        <a href="@Url.Action("Login", "Account")">Acesso</a>
    </p>
</div>






